@font-face {
  font-family: "Garet";
  src: url("../font/ofont.ru_Garet.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MADE TOMMY";
  src: url("../font/MADE Tommy Soft Light PERSONAL USE.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background: #def0fe;
  font-family: "Garet", "MADE TOMMY";
  overflow-x: hidden;
}

body {
  min-width: unset;
  min-height: unset;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body.no-scroll {
  overflow: hidden;
}

header {
  background-color: #fff;
  box-shadow: 0 2px 5px #38281d;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  height: 81px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}
header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .logo img {
  width: 90px;
  height: 63px;
}
header .site-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #38281d;
}

nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}
nav a {
  text-decoration: none;
  color: #38281d;
  font-weight: 500;
  font-size: 1.1rem;
  transition: all 0.3s ease;
}
nav a:hover {
  color: #4e5f4a;
}

.burger-menu {
  display: none;
  cursor: pointer;
  z-index: 1001;
}
.burger-menu img {
  width: 40px;
  height: 40px;
}

main {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-top: 100px;
}

.registration-form {
  background: #4e5f4a;
  border-radius: 10px;
  padding: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  min-height: 380px;
  box-shadow: 0 4px 24px #483018;
}
.registration-form h1 {
  color: #babdb5;
  font-size: 1.35rem;
  letter-spacing: 0.3em;
  margin-bottom: 30px;
  margin-top: 0px;
  font-weight: normal;
}
.registration-form label {
  width: 90%;
  margin-bottom: 16px;
}
.registration-form input,
.registration-form select.input-like {
  width: 100%;
  padding: 11px;
  border: none;
  border-radius: 8px;
  background: #babdb5;
  color: #38281d;
  font-size: 0.9rem;
  letter-spacing: 0.2em;
  outline: none;
  font-family: "Garet", "MADE TOMMY";
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 2px 4px rgba(222, 240, 254, 0.568627451);
  transition: all 0.3s ease;
  cursor: pointer;
}
.registration-form input:hover, .registration-form input:focus,
.registration-form select.input-like:hover,
.registration-form select.input-like:focus {
  box-shadow: 0 4px 8px rgba(222, 240, 254, 0.568627451);
  transform: translateY(-1px);
}
.registration-form input[type=date] {
  color: #23140B;
}
.registration-form button[type=submit] {
  width: 195px;
  height: 35px;
  background: #6e6b64;
  border: none;
  border-radius: 8px;
  margin-top: 15px;
  cursor: pointer;
  color: rgba(222, 240, 254, 0.568627451);
  font-family: "Garet", "MADE TOMMY";
  font-size: 0.9rem;
  text-align: center;
  letter-spacing: 0.2em;
  box-shadow: 0 2px 4px rgba(192, 224, 248, 0.568627451);
  transition: all 0.3s ease;
}
.registration-form button[type=submit]:hover {
  box-shadow: 0 4px 8px rgba(222, 240, 254, 0.568627451);
  transform: translateY(-1px);
}
.registration-form input::-moz-placeholder {
  text-align: center;
  color: #38281d;
}
.registration-form input::placeholder {
  text-align: center;
  color: #38281d;
}
.registration-form select {
  text-align: center;
  -moz-text-align-last: center;
       text-align-last: center;
  color: #38281d;
}
.registration-form select.input-like option {
  color: #38281d;
  background: #aeaca6;
}
.registration-form select.input-like option:disabled {
  color: #38281d;
}
.registration-form select.input-like:hover {
  box-shadow: 0 4px 8px rgba(222, 240, 254, 0.568627451);
  transform: translateY(-1px);
}

footer {
  background: #38281d;
  height: 63px;
  width: 100%;
  margin-top: 60px;
}

@media screen and (max-width: 768px) {
  header {
    padding: 0 20px;
  }
  .burger-menu {
    display: block;
  }
  nav {
    position: fixed;
    top: 81px;
    left: 0;
    width: 100%;
    height: auto;
    padding: 10px;
    background: rgba(243, 247, 250, 0.862745098);
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  nav a {
    font-size: 1rem;
  }
}
@media screen and (max-width: 480px) {
  header {
    padding: 0 10px;
    height: 60px;
  }
  nav {
    top: 60px;
  }
  .burger-menu {
    width: 25px;
    margin-right: 10px;
  }
  .logo svg {
    width: 50px;
    height: 35px;
  }
  .site-title {
    font-size: 1.2rem;
    margin-left: 10px;
  }
  nav ul {
    gap: 15px;
  }
  nav a {
    font-size: 0.8rem;
  }
  .registration-form {
    width: 280px;
    padding: 20px;
  }
  .registration-form h1 {
    font-size: 1.1rem;
  }
  .registration-form input,
  .registration-form select.input-like {
    padding: 8px;
    font-size: 0.8rem;
  }
  .registration-form button[type=submit] {
    width: 160px;
    height: 30px;
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=travel_agency_registration.css.map */